{% extends "base.jinja" %}
{% block title %}{{ customer_noun }} Dashboard{% endblock %}
{% block content %}

<div>
    <h2>Welcome {{ session['human_name'] }}!</h2>
    <p>This dashboard helps track your {{ product_attributes.nouns }} with {{ company_name }}.</p>
</div>
{% for lc in ledger_account_categories %}
    {% if lc.balances.pending_balance.currency in visible_currencies %}
        <div class="row text-center mb-3">
        {% for balance in lc.balances %}
            <div class="col-md-4">
                <h4 class="bg-primary p-2 display-8 rounded text-white"><strong>{{ balance[1].currency}} - {{ balance[0].split('_')|map('capitalize')|join(' ') }}</strong></h4>
                {# <h4 class="bg-primary p-2 display-8 rounded text-white"><strong>{{balance}}</strong></h4> #}
                <h3 class="bg-primary p-2 display-8 rounded text-white">{{ ('{:,.' +  balance[1].currency_exponent|string + 'f}'|string).format(balance[1].amount/100) }} </h3>
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endfor %}
<div class="row text-left mb-3">
    <div class="col display-6" >Make a deposit</div>
</div>
<div class="row row-cols-auto">
    <div class="col col-xs-4">
        <a class="btn btn-info" href="/bank-deposit">Bank Account</a>
    </div>
    {# <div class="col col-xs-4">
        <button class="btn btn-info">Credit Card</button>
    </div> #}
</div>
<br>
<hr>
<br>
<div class="row">
    <div class="col-md-8">
        <h4>Portfolio Breakdown</h4>
        <img src="/static/crypto-portfolio.png" class="img-fluid" alt="{{ company_name }} Pie Chart">
    </div>
    <div class="col-md-4">
        <h4>News Feed</h4>
        <img src="/static/crypto-news.png" class="img-fluid" alt="{{ company_name }} Returns Graph">
    </div>
</div>
{% endblock %}