{% extends "base.jinja" %}
{% block title %}Investor Dashboard{% endblock %}
{% block content %}
<script type="text/javascript">
    function initiatePurchase(event) {
        
        event.preventDefault();
        
        const purchaseItem = event.target.id;
        const amount = document.getElementById(purchaseItem + '-amount').value;
        const currentPrice = document.getElementById(purchaseItem + '-current-price').getAttribute('value');


        if(!amount) {
            alert("Please enter a valid value.")
        } else {

            let purchaseData = new FormData();

            purchaseData.append("item",purchaseItem);
            purchaseData.append("amount",amount);
            purchaseData.append("current_price",currentPrice);

            alert("Initiating purchase!")

            fetch('/make-purchase', {
                "method": "POST",
                "body": purchaseData
            }).then((response) => {

                console.log(response);
                location.reload();
                return false;

            })
            .catch(error => alert(error.message));

        }
    };
</script>

    <div class="row text-left">
        <h2>Welcome {{ session['human_name'] }}!</h2>
        <p>This is where you can purchase various {{ items_for_sale_collective_noun }}.</p>
    </div>
    <div class="row">
        <div class="col-sm">
            <strong>Name</strong>
        </div>
        <div class="col-sm">
            <strong>Description</strong>
        </div>
        <div class="col-sm">
            <strong>Symbol</strong>
        </div>
        <div class="col-sm">
            <strong>Current Price</strong>
        </div>
        <div class="col-sm">
            <strong>Number owned</strong>
        </div>
        <div class="col-md-3">
            <strong>Purchase</strong>
        </div>
    </div>
    {% for item in items_available_for_purchase %}
        {% if item.base_currency != True %}
        <div class="row text-left">
            <div class="col-sm text-left">
                {{ item.name }}
            </div>
            <div class="col-sm text-left">
                {{ item.currency }}
            </div>
            <div class="col-sm text-left">
                {{ item.description }}
            </div>
            <div id="{{ item.currency}}-current-price" value="{{ item.current_price_in_usd_cents }}" class="col-sm text-left">
                {{ item.current_price_in_usd_dollars_formatted }}
            </div>
            <div class="col-sm text-left">
                {{ user_ledger_account_categories[item.currency + ' - Total Balance'].balances.available_balance.amount/100 }}
            </div>
            <div class="col-md-3 text-left">
                <form onsubmit="initiatePurchase(event)" id="{{item.currency}}">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm">
                                <input type="number" name="{{item.currency}}-amount" class="form-control" id="{{ item.currency}}-amount" placeholder="Buy x {{ item.name }}s">
                            </div>
                            <div class="col-sm">
                                <button class="btn btn-primary">Submit</button>
                            </div>                    
                        </div> 
                    </div>
                </form>
            </div>    
        </div>
        {% endif %}
    {% endfor %}
{% endblock content %}
