<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ company_name }} Demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="/static/style.css" rel="stylesheet">
</head>

<main class="d-flex flex-nowrap">
    <div class="d-flex sidebar flex-column flex-shrink-0 p-3 text-bg-dark" id="sidebar">
        <a href="/login" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <img src="{{ company_logo }}" width="35" height="35" alt="{{ company_name }} Logo" class="me-2">
            <span class="fs-4">Investor Portal</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li>
            <a href="/dashboard" class="nav-link text-white">
              <i class="bi-speedometer"></i>
              Dashboard
            </a>
          </li>
          <li>
            <a href="/payments" class="nav-link text-white">
              <i class="bi-wallet2"></i>
              Capital Calls
            </a>
          </li>
          <li>
            <a href="/distributions" class="nav-link text-white">
              <i class="bi-coin"></i>
              Distributions
            </a>
          </li>
        </ul>
        <hr>
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>{{ username }}</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
      <body style="background: #f7f5f5">
        <div class="col-lg-8 mx-auto p-4 py-md-5">
            <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
                <h1>{% block title %}{% endblock %}</h1>
            </header>
            {% block content %}
            {% endblock %}
        </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
      <script>
        // Get the container element
        const sidebar = document.getElementById("sidebar");
        const links = sidebar.getElementsByClassName('nav-link');
        const currentPage = location.pathname
        for (let i = 0; i < links.length; i++) {
          var l = links[i];
          if (currentPage === l.pathname) {
            l.classList.add("active")
          }
        }
      </script>
      </body>
</main>
</html>